<div class="main_contents">
  <h2>ユーザーランキング</h2>
  <ul class="list_info">
    <% if current_user.public == true %>
      <li>あなたは<%= User.all.count %>人中、<span class="point"><%= @your_rank %>位</span>です！</li>
      <% unless @your_rank == 1 %>
        <li><%= @next_rank %>位との差は<span class="point"><%= @difference %>ポイント</span>です!</li>
      <% end %>
    <% end %>
  </ul>

  <% @users.each.with_index(1) do |user,index| %>
    <div class="col-xs-12">
      <% @user_rank = which_user?(index) %>
      <div class="<%=@user_rank %>_user row">
        <div class="col-xs-4">
          <%= user_image(user) %>
        </div>
        <div class="col-xs-4">
          <ul class="user_detail wf-roundedmplus1c">
            <li><b><%= user.name %></b>さん</li>
            <li>
              <% @rank = which_rank?(index) %>
              <span class="rank<%= @rank %>"><%= user.total_score %>ポイント</span>
            <li><span class="rank<%= @rank %>"><%= index %>位</span></li>
            <li>
              <% if user.continue > 1 %>
                <span class="red"><%= user.continue %>回連続</span>目標達成！
              <% end %>
            </li>
          </ul>
        </div>

        <!--ApplicationHelper-->
        <div class="col-xs-4">
          <%= which_medal?(index) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="links">
    <%= link_to '戻る', :back %>
  </div>
</div>
