<div class="main_contents">
  <h2>ユーザーランキング</h2>
  <ul class="list_info">
    <li>あなたは<%= User.all.count %>人中、<span class="point"><%= @your_rank %>位</span>です！</li>
    <% unless @your_rank == 1 %>
      <li><%= @next_rank %>位との差は<span class="point"><%= @difference %>ポイント</span>です!</li>
    <% end %>
  </ul>
    <% @users.each.with_index(1) do |user,index| %>
        <div class="col-xs-12">
          <% if index == 1 %>
          <div class="gold_user">
            <% elsif index == 2 %>
            <div class="silver_user">
            <% elsif index == 3 %>
            <div class= "bronze_user">
            <% else %>
          <div class="each_user">
          <% end %>
            <ul class="user_detail">
              <li><b><%= user.name %></b>さん</li>
              <!-- <li><span class="email"><%= user.email %></span></li>
              <li><%= link_to '詳細', user_path(user) , class: 'btn btn-default btn-xs btn-primary user_detail'%></li> -->
              <li>ポイント・・・
                <% if index == 1 %>
                  <span class="gold"><%= user.total_score %></span>
                <% elsif index == 2 %>
                  <span class="silver"><%= user.total_score %></span>
                <% elsif index == 3 %>
                  <span class="bronze"><%= user.total_score %></span>
                <% else %>
                  <span class="point"><%= user.total_score %></span>
                <% end %>
              <li>順位　・・・
              <% if index == 1 %>
                <span class="gold"><%= index %>位</span>
              <% elsif index == 2 %>
                <span class="silver"><%= index %>位</span>
              <% elsif index == 3 %>
                <span class="bronze"><%= index %>位</span>
              <% else %>
                <span class="point"><%= index %>位</span>
              <% end %>
              </li>
            </ul>

            <% if index == 1 %>
              <div class="medal"><%= image_tag '0173_gold.png' %></div>
            <% elsif index == 2 %>
              <div class="medal"><%= image_tag '0172_silver.png' %></div>
            <% elsif index == 3 %>
              <div class="medal"><%= image_tag '0171_bronze.png' %></div>
            <% else %>
            <% end %>


          </div>
        </div>
    <% end %>
    <div class="links">
      <%= link_to '戻る', :back %>
    </div>
</div>
