<div class="main_contents">
  <% if current_user.id == @user.id %>
    <h2><%= current_user.name %>さんのマイページ</h2>
  <% else %>
    <h2><%= @user.name %>さんの詳細ページ</h2>
  <% end %>

  <% if current_user.id == @user.id %>
    <ul>
      <li><%= current_user.name %>さんの総得点・・・<%= @user.total_score %></li>
      <li><%= current_user.name %>さんのランク・・・<%= @ranking %></li>
    </ul>
  <% end %>
</div>
