

<div class="main_contents">
  <h2>集計(今月)</h2>
  <table class="table table-bordered design-table">
    <tr class="success"><th>項目</th><th>金額</th><th>割合</th></tr>
    <% if @amounts_now.count == 0 %>
      <tr><td colspan="3"><p class="text_center">なし</p></td></tr>
    <% end %>
    <% @amounts_now.each do |elm1, elm2, elm3| %>
      <tr>
        <td><%= elm1 %></td><td><%= elm2 %>円</td><td><%= elm3 %>％</td>
      </tr>
    <% end %>
  </table>

  <%= pie_chart @graph_now %>

  <h2>集計(先月まで)</h2>
  <table class="table table-bordered design-table">
    <tr class="success"><th>項目</th><th>金額</th><th>割合</th></tr>
    <% if @amounts_then.count == 0 %>
      <tr><td colspan="3"><p class="text_center">なし</p></td></tr>
    <% end %>
      <% @amounts_then.each do |elm1, elm2, elm3| %>
        <tr>
          <td><%= elm1 %></td><td><%= elm2 %>円</td><td><%= elm3 %>％</td>
        </tr>
      <% end %>
    </table>
  <div class="links">
   <%= link_to '戻る', :back %>
  </div>
</div>
