<%= form_for(@challenge) do |f| %>
  <div class="row" >
    <div class="col-sm-5 col-xs-12 form-group" >
      <%= f.label :最終日 %>
      <%= f.date_select :deadline, use_month_numbers: true, class:'challenge_form'  %>
    </div>
    <div class="col-sm-5 col-xs-12 form-group">
      <%= f.label :目標額 %>
      <%= f.text_field :target, autofocus: true, class:'challenge_form' %><span>円</span>
    </div>
  <div class="col-sm-2 col-xs-12 form-group">
    <%= f.submit '決定', class: 'btn btn-success btn-xs' %>
  </div>
</div>
<% end %>
