<%= form_for(@challenge) do |f| %>

  <div class="col-sm-5 col-xs-12">
    <%= f.label :最終日 %>
    <%= f.date_select :deadline, use_month_numbers: true %>
  </div>
  <div class="col-sm-5 col-xs-12">
    <%= f.label :目標額 %>
    <%= f.text_field :target %><span>円</span>
  </div>
  <div class="col-sm-2 col-xs-12">
    <%= f.submit '決定', class: 'btn btn-info btn-sm btn-margin' %>
  </div>

<% end %>
