<h2>今回のチャレンジ詳細</h2>

<h3>ポイント詳細</h3>
<ul>
  <li>基本ポイント・・・1×チャレンジ日数（<%= duration_point %>日）=<span class="point"><%= duration_point %>ポイント</span></li>
  <li>余裕で達成ポイント・・・基本ポイント<%= duration_point %>）×余裕率（<%= amount_point %>％）=<%= amount_point %>ポイント</li>
  <% if 
  <li></li>
</ul>
