<div class="main_contents">
  <h2>チャレンジ</h2>
  <% unless Challenge.find_by(status:1, user_id:current_user.id) %>
    <%= render partial: 'form' %>
  <% end %>
  <h3>現在のチャレンジ</h3>
  <% if finish_or_continue? %>
    <div class="finished_challenge">
      以下のチャレンジは終了しました。終了ボタンをクリックして、終了処理（得点の加算）をしてください。<br />
    </div>
  <% end %>
  <!--status:1のレコードのみ-->
  <table class="table table-bordered design-table">
    <tr class="success">
      <th>開始日</th><th>使用額</th><th>目標額</th><th>最終日</th><th></th>
    </tr>
    <% if @challenge_now.count == 0 %>
      <tr><td colspan="6"><p class="text_center">なし</p></td></tr>
    <% end %>
    <% @challenges.each do |challenge| %>
      <% if current_user.id == challenge.user.id && challenge.status == 1%>
        <tr>
          <td><%= challenge.start.strftime("%m月%d日")%></td>
          <td><%= Challenge.find_by(id:challenge.id).moneys.sum(:amount) %>円</td>
          <td><%= challenge.target %>円</td>
          <td><%= challenge.deadline.strftime("%m月%d日")%></td>
          <td>
            <%= link_to '編集', edit_challenge_path(challenge), class:'btn btn-warning btn-xs btn-primary' %>
            <%= link_to '詳細', challenge_path(challenge), class:'btn btn-success btn-xs btn-primary' %>
            <% if finish_or_continue? %>
              <%= link_to '終了', finish_challenge_path(challenge), method: :patch, class:'btn btn-danger btn-xs'  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <h3>過去のチャレンジ</h3>
  <!--status:1,2のレコードのみ-->
  <table class="table table-bordered design-table">
    <tr class="active">
      <th>開始日</th><th>使用額</th><th>目標額</th><th>最終日</th><th>結果</th><th>得点</th><th></th>
    </tr>
    <% if @challenge_then.count == 0 %>
      <tr><td colspan="7"><p class="text_center">なし</p></td></tr>
    <% end %>
    <% @challenges.each do |challenge| %>
      <% if current_user.id == challenge.user.id && challenge.status != 1%>
        <tr>
          <td><%= challenge.start.strftime("%m月%d日")%></td>
          <td><%= Challenge.find_by(id:challenge.id).moneys.sum(:amount) %>円</td>
          <td><%= challenge.target %>円</td>
          <td><%= challenge.deadline.strftime("%m月%d日")%></td>
          <td><%= challenge.achieve %></td>
          <td><%= challenge.score %>点</td>
          <td><%= link_to '詳細', challenge_path(challenge), class:'btn btn-success btn-xs btn-primary' %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="links">
    <%= link_to '戻る', :back %>
  </div>
</div>
