<!DOCTYPE html>
<html>
<head>
  <title>Kakeibodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to '一覧', bookings_path %></li>
  <li><%= link_to '新規入力', new_booking_path %></li>
</ul>

<%= yield %>

</body>
</html>
